html, 
body {
	margin: 0;
	padding: 0;
}

body {
	min-width: 960px;
	font-family: 'PT Sans', "Tahoma", sans-serif;	
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	color: #000;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.central-block {
	width: 940px;
	margin: 0 auto;
	background-color yellow;	
}

.main-header {
	min-height: 320px;
}

.header-top {
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 17px;
	font-weight: normal;
	line-height: 18px;
	min-height: 43px;
	color: #fff;
	background-color: #293449;
	
}

.central-block-header-top {
	position: relative;
}

.logo-out,
.logo {
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;
	min-height: 47px;
	width: 222px;
	background-color: #EE3643;
	color: #fff;
	border-bottom: 5px solid #B72F38;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1;
	cursor: pointer;
}

.logo-out {
	cursor: default;
}

.logo:hover {	
	background-color: #CA2C37;
	border-color: #9A212A;	
}

.logo:active {	
	background-color: #BA2732;
	border-color: #91242C;	
}

.header-top-form {
	float: left;
	width: 270px;
	height: 43px;
	margin-left: 183px;
    margin-left: 222px;position: relative;
}

.header-top-form input {	
	height: 43px;
	width: 270px;
	box-sizing: border-box;
	padding-left: 50px;
	outline: none;
	border: none;
	background-color: #293449;
	color: #fff;	
}

.header-top-form input:hover {	
	background-color: #212A3A;	
}

.header-top-form input:focus {	
	background-color: #fff;
	color: #000;
}

.header-top-form::before {
	content: "";
	height: 17px;
	width: 17px;
	position: absolute;
	top: 13px;
	left: 17px;
	background-image: url("../img/sprite-1.png");
	background-position: 345px;	
}

.header-top-form:hover::before {	
	background-image: url("../img/sprite-1.png");
	background-position: 57px;	
}

.header-top-bookmark {
	display: block;
	width: 163px;
	height: 43px;
	background-color: #293449;
	box-sizing: border-box;
	padding-top: 13px;
	padding-left: 45px;
	float: left;
	cursor: pointer;
	position: relative;	
}

.header-top-bookmark:hover {	
	background-color: #212A3A;	
}

.header-top-bookmark:active {	
	background-color: #161D29;
	color: #BABBBD;
}

.header-top-bookmark::before {
	content: "";
	height: 16px;
	width: 14px;
	position: absolute;
	top: 15px;
	left: 17px;
	background-image: url("../img/sprite-1.png");
	background-position: -34px;	
}

.header-top-bookmark:hover::before {	
	background-image: url("../img/sprite-1.png");
	background-position: -48px;	
}

.header-top-bookmark:active::before {	
	background-image: url("../img/sprite-1.png");
	background-position: -34px;	
}

.basket {
	display: block;
	width: 135px;
	height: 43px;
	background-color: #293449;
	box-sizing: border-box;
	padding-top: 13px;
	padding-left: 35px;
	float: left;
	cursor: pointer;
	position: relative;		
}

.basket:hover {	
	background-color: #212A3A;	
}

.basket:active {	
	background-color: #161D29;
	color: #BABBBD;
}

.basket::before {
	content: "";
	height: 16px;
	width: 17px;
	position: absolute;
	top: 13px;
	left: 0px;
	background-image: url("../img/sprite-1.png");
	background-position: 0px 0.5px;
}

.basket:hover::before {	
	background-image: url("../img/sprite-1.png");
	background-position: -17px 0.5px;	
}

.basket:active::before {	
	background-image: url("../img/sprite-1.png");
	background-position: 0px 0.5px;	
}

.ordering {
	display: block;
	width: 150px;
	height: 43px;
	background-color: #63A63E;
	box-sizing: border-box;
	padding-top: 13px;
	text-align: center;	
	float: right;
	cursor: pointer;
}

.ordering:hover {	
	background-color: #5FBB2D;	
}

.ordering:active {	
	background-color: #63A63E;
	opacity: 0.9;	
}

.header-bottom {
	min-height: 277px;
	background-color: #F1F5F7;	
}

.header-bottom-text {
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	line-height: 23px;
	color: #ee3643;
	width: 190px;
	min-height: 80px;
	float: left;
	margin-left: 45px;
	margin-top: 50px;
}

.contacts {
	min-height: 80px;
	width: 300px;
	float: left;
	margin-left: 80px;
	margin-top: 45px;	
}



.phone {
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 21px;
	font-weight: bold;	
	line-height: 21px;
	color: #ee3643;
	width: 270px;
	min-height: 45px;
	box-sizing: border-box;
	padding-top: 12px;
	padding-left: 80px;
	border: 2px solid #FEFFFF;
	position: relative;
}

.phone::before {
	content: "";
	height: 19px;
	width: 19px;
	position: absolute;
	left: 15px;
	background-image: url("../img/sprite-1.png");
	background-position: -145px;

}

.adress {
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 14px;
	font-weight: normal;	
	line-height: 24px;
	color: #32425c;
	width: 270px;
	min-height: 25px;
	box-sizing: border-box;
	padding-top: 5px;
	padding-left: 10px;		
}

.form-in {
	min-height: 45px;
	width: 300px;
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 21px;
	font-weight: normal;	
	line-height: 21px;
	color: #000;
	float: right;
	margin-top: 45px;
	margin-bottom: 70px;	
}

.coming {
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 21px;
	font-weight: normal;	
	line-height: 21px;
	color: #000;
	min-height: 45px;
	width: 122px;	
	background-color: #fff;
	color: #000;
	border: none;
	outline: none;
	box-sizing: border-box;
	padding-left: 30px;
	margin-left: 17px;
	cursor: pointer;
	position: relative;
}

.coming:hover {
	color: #EE3643;
}

.coming:active {
	color: #CACACA;	
}

.coming::before {
	content: "";
	height: 17px;
	width: 20px;
	position: absolute;
	left: 15px;
	top: 15px;
	background-image: url("../img/sprite-1.png");
	background-position: -62px;
}

.coming:hover::before {	
	background-image: url("../img/sprite-1.png");
	background-position: -82px;
}

.coming:active::before {	
	background-image: url("../img/sprite-1.png");
	background-position: -62px;
}

.registration {
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 21px;
	font-weight: normal;	
	line-height: 21px;
	color: #000;
	min-height: 45px;
	width: 150px;
	background-color: #fff;
	border: none;
	outline: none;
	margin-left: 5.5px;
	cursor: pointer;
}

.registration:hover {
	color: #EE3643;
}

.registration:active {
	color: #CACACA;	
}


.main-menu {
	clear: both;	
	width: 940px;
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 0;
	font-weight: normal;	
	line-height: 17px;	
}

.main-menu li {
	display: inline-block;
	vertical-align: top;
	border-bottom: 5px solid #293449;
}

.main-menu a {
	display: block;
	color: #fff;
	padding: 20px 33px;
	padding-bottom: 15px;
	font-size: 17px;
	background-color: #32425C;
}

.main-menu a:hover {	
	background-color: #293449;
}

.main-menu a:active {	
	color: #9B9DA2;
}


.info-block-1 {
	min-height: 520px;
	background-color: #fff;
	color: #fff;
	box-sizing: border-box;
	padding-top: 60px;
}

.items {
	height: 410px;	
}

.item {
	height: 125px;
	width: 300px;
	margin-bottom: 17.5px;
	position: relative;
}

.item-1::after {
	content: "";
	position: absolute;
	height: 65px;
	width: 44px;
	top: 30px;
	right: 45px;
	background-image: url("../img/sprite-2.png");
	background-position: -137px 0px;
}

.item-2::after {
	content: "";
	position: absolute;
	height: 61px;
	width: 75px;
	top: 30px;
	right: 35px;
	background-image: url("../img/sprite-2.png");
	background-position: 75px 5px;
}

.item-4::after {
	content: "";
	position: absolute;
	height: 62px;
	width: 78px;
	top: 30px;
	right: 35px;
	background-image: url("../img/sprite-2.png");
	background-position: 153px;
}

.item-5::after {
	content: "";
	position: absolute;
	height: 72px;
	width: 59px;
	top: 30px;
	right: 45px;
	background-image: url("../img/sprite-2.png");
	background-position: 0px;
}

.item-6::after {
	content: "";
	position: absolute;
	height: 63px;
	width: 78px;
	top: 30px;
	right: 35px;
	background-image: url("../img/sprite-2.png");
	background-position: -59px;
}

.item-3,
.item-6 {
	margin-bottom: 0;
}

.items-1 {
	height: 410px;
	width: 620px;
	float: left;
	box-sizing: border-box;	
}


.item-1 {
	float: left;
	background-color: #F6B22D;
}

.item-2 {
	float: right;
	background-color: #4AAFDE;
}

.item-3 {
	height: 267px;
	width: 620px;
	clear: both;
	background-color: red;
}

.items-2 {
	height: 410px;
	width: 300px;
	float: right;
	box-sizing: border-box;
}

.item-4 {	
	background-color: #CC79D1;
	box-sizing: border-box;
	float: left;

}

.item-5 {	
	background-color: #85D179;
	box-sizing: border-box;
	float: left;
}

.item-6 {	
	background-color: #F6B22D;
	box-sizing: border-box;
	float: left;
}

.text-1 {
	font-family: 'Cuprum';	
	font-size: 24px;
	font-weight: bold;	
	line-height: 30px;	
	height: 30px;
	width: 135px;
	text-align: left;
	box-sizing: border-box;
	margin-left: 22px;
	margin-top: 22px;	
}

.text-2 {
	display: block;
	font-family: 'Cuprum';	
	font-size: 14px;
	font-weight: normal;	
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;	
	height: 40px;
	width: 135px;
	text-align: center;
	box-sizing: border-box;
	margin-left: 22px;
	margin-top: 10px;
	padding-top: 12px;	
	border-radius: 3px;
}

.item-1 .text-2 {
	background-color: #DDA028;
}

.item-1 .text-2:hover {
	background-color: #CD9525;
}

.item-1 .text-2:active {
	background-color: #BE8A22;
}

.item-2 .text-2 {
	background-color: #429DC7;
}

.item-2 .text-2:hover {
	background-color: #3D91B8;
}
.item-2 .text-2:active {
	background-color: #3783A6;
}

.item-4 .text-2 {
	background-color: #B76DBC;
}

.item-4 .text-2:hover {
	background-color: #A462A9;
}

.item-4 .text-2:active {
	background-color: #96599A;
}

.item-5 .text-2 {
	background-color: #77BC6D;
}

.item-5 .text-2:hover {
	background-color: #6CA962;
}
.item-5 .text-2:active {
	background-color: #649D5B;
}

.item-6 .text-2 {
	background-color: #DDA028;
}

.item-6 .text-2:hover {
	background-color: #CD9525;
}

.item-6 .text-2:active {
	background-color: #BE8A22;
}


.popular-products {
	min-height: 90px;
	font-family: 'Cuprum';	
	font-size: 30px;
	font-weight: normal;	
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	background-color: #F7F3EC;
	box-sizing: border-box;
	padding-top: 30px;
	
}

.popular-products-text {
	display: block;
	width: 270px;
	margin-bottom: -30px;
	margin-left: 30px;	
}

.all-popular-products {
	min-height: 38px;
	width: 255px;
	font-family: 'Cuprum';	
	font-size: 14px;
	font-weight: normal;	
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
	background-color: #EE3643;
	box-sizing: border-box;
	margin-left: 660px;
	padding-top: 11px;
	text-align: center;
	border-radius: 3px;

}

.catalog-items{
    width:940px;
    margin:20px auto;
    background-color red;
}
.catalog-items .row{
    margin-left:-20px;
}
.catalog-item{
    position:relative;
    display:inline-block;
    width:218px;
    margin-left:20px;   
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}
.catalog-items{
    font-size:0;
}
.catalog-item{
    font-size:16px;
}

.catalog-item:hover{
    box-shadow: 0px 7px 30px 0px #707377; 
}

.catalog-item-2 img,
.catalog-item-4 img {
	margin-top: 30px;
}
.catalog-item-3 img {
	margin-top: 20px;
}

.catalog-item .flag-new{
	position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
    background: url("../img/new-flag.png") no-repeat 0 0;
}
.catalog-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}
.catalog-item .actions .buy,
.catalog-item .actions .bookmark{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
   	border: 3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;
    outline: none;
}


.catalog-item .actions .buy {	
	 border-bottom-color: #377416;
	 position: relative;
}

.catalog-item .actions .buy:hover {     
    background-color: #5FBB2D;
    border-color: #5FBB2D; 
     border-bottom-color:  #377416;   
}

.catalog-item .actions .buy:active {     
    background-color: #518534;
    border-color: #518534;    
}

.catalog-item .actions .buy::before {	
	 content: "";
	 position: absolute;
	 width: 17px;
	 height: 16px;
	 left: 10px;	 
	 background-image: url("../img/sprite-1.png");
	 background-position: 0px 0.5px;
}

.catalog-item .actions .buy:hover::before {	 
	 background-image: url("../img/sprite-1.png");
	 background-position: -17px 0.5px;
}

.catalog-item .actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.catalog-item .actions .bookmark:hover {    
    border-color: #32425C;
}

.catalog-item .actions .bookmark:active {    
    border-color: #C1C6CE;
    color: #C1C6CE;
}

.catalog-item .actions{
    display:none;
}
.catalog-item:hover .actions{
    display:block;
}
.catalog-item .image{
    width:218px;
    height:168px;
}
.catalog-item .image img{
    max-width:100%;
}
.catalog-item .title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;    
}
.catalog-item .discount{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}
.catalog-item .price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}
.catalog-item .price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}
