html, 
body {
	margin: 0;
	padding: 0;
}

body {
	min-width: 960px;
	font-family: 'PT Sans', "Tahoma", sans-serif;	
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	color: #000;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.central-block {
	width: 940px;
	margin: 0 auto;
	position: relative;
	background-color yellow;	
}

.main-header {
	min-height: 320px;
}

.header-top {
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 17px;
	font-weight: normal;
	line-height: 18px;
	min-height: 43px;
	color: #fff;
	background-color: #293449;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 2;	
}

.central-block-header-top {
	position: relative;
}

.logo-out,
.logo {
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;
	min-height: 47px;
	width: 222px;
	background-color: #EE3643;
	color: #fff;
	border-bottom: 5px solid #B72F38;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1;
	cursor: pointer;
}

.logo-out {
	cursor: default;
}

.logo:hover {	
	background-color: #CA2C37;
	border-color: #9A212A;	
}

.logo:active {	
	background-color: #BA2732;
	border-color: #91242C;	
}

.header-top-form {
	float: left;
	width: 270px;
	height: 43px;	
    margin-left: 222px;
    position: relative;
}

.header-top-form input {	
	height: 43px;
	width: 270px;
	box-sizing: border-box;
	padding-left: 50px;
	outline: none;
	border: none;
	background-color: #293449;
	color: #fff;	
}

.header-top-form input:hover {	
	background-color: #212A3A;	
}

.header-top-form input:focus {	
	background-color: #fff;
	color: #000;
}

.header-top-form::before {
	content: "";
	height: 17px;
	width: 17px;
	position: absolute;
	top: 13px;
	left: 17px;
	background-image: url("../img/sprite-1.png");
	background-position: 345px;		
}

.header-top-form:hover::before {	
	background-image: url("../img/sprite-1.png");
	background-position: 57px;
}

.header-top-bookmark {
	display: block;
	width: 153px;
	height: 43px;
	background-color: #293449;
	box-sizing: border-box;
	padding-top: 13px;
	padding-left: 45px;
	float: left;
	cursor: pointer;
	position: relative;	
}

.header-top-bookmark:hover {	
	background-color: #212A3A;	
}

.header-top-bookmark:active {	
	background-color: #161D29;
	color: #BABBBD;
}

.header-top-bookmark::before {
	content: "";
	height: 16px;
	width: 14px;
	position: absolute;
	top: 15px;
	left: 17px;
	background-image: url("../img/sprite-1.png");
	background-position: -34px;	
}

.header-top-bookmark:hover::before {	
	background-image: url("../img/sprite-1.png");
	background-position: -48px;	
}

.header-top-bookmark:active::before {	
	background-image: url("../img/sprite-1.png");
	background-position: -34px;	
}

.basket {
	display: block;
	width: 145px;
	height: 43px;
	background-color: #293449;
	box-sizing: border-box;
	padding-top: 13px;
	padding-left: 35px;
	float: left;
	cursor: pointer;
	position: relative;
	text-align: center;		
}

.basket:hover {	
	background-color: #212A3A;	
}

.basket:active {	
	background-color: #161D29;
	color: #BABBBD;
}

.basket::before {
	content: "";
	height: 16px;
	width: 17px;
	position: absolute;
	top: 13px;
	left: 15px;
	background-image: url("../img/sprite-1.png");
	background-position: 0px 0.5px;
}

.basket:hover::before {	
	background-image: url("../img/sprite-1.png");
	background-position: -17px 0.5px;	
}

.basket:active::before {	
	background-image: url("../img/sprite-1.png");
	background-position: 0px 0.5px;	
}

.ordering {
	display: block;
	width: 150px;
	height: 43px;
	background-color: #63A63E;
	box-sizing: border-box;
	padding-top: 13px;
	text-align: center;	
	float: right;
	cursor: pointer;
}

.ordering:hover {	
	background-color: #5FBB2D;	
}

.ordering:active {	
	background-color: #63A63E;
	opacity: 0.9;	
}

.header-bottom {
	min-height: 277px;
	background-color: #F1F5F7;
	padding-top: 43px;	
}

.header-bottom-text {
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	line-height: 23px;
	color: #ee3643;
	width: 190px;
	min-height: 80px;
	float: left;
	margin-left: 45px;
	margin-top: 50px;
}

.contacts {
	min-height: 80px;
	width: 300px;
	float: left;
	margin-left: 80px;
	margin-top: 45px;	
}

.phone {
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 21px;
	font-weight: bold;	
	line-height: 21px;
	color: #ee3643;
	width: 270px;
	min-height: 45px;
	box-sizing: border-box;
	padding-top: 12px;
	padding-left: 80px;
	border: 2px solid #FEFFFF;
	position: relative;
}

.phone::before {
	content: "";
	height: 19px;
	width: 19px;
	position: absolute;
	left: 20px;
	background-image: url("../img/sprite-1.png");
	background-position: -145px;

}

.adress {
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 14px;
	font-weight: normal;	
	line-height: 24px;
	color: #32425c;
	width: 270px;
	min-height: 25px;
	box-sizing: border-box;
	padding-top: 5px;
	padding-left: 10px;		
}

.form-in {
	min-height: 45px;
	width: 300px;
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 21px;
	font-weight: normal;	
	line-height: 21px;
	color: #000;
	float: right;
	margin-top: 45px;
	margin-bottom: 70px;	
}

.coming {
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 21px;
	font-weight: normal;	
	line-height: 21px;
	color: #000;
	min-height: 45px;
	width: 122px;	
	background-color: #fff;
	color: #000;
	border: none;
	outline: none;
	box-sizing: border-box;
	padding-left: 30px;
	margin-left: 17px;
	cursor: pointer;
	position: relative;
}

.coming:hover {
	color: #EE3643;
}

.coming:active {
	color: #CACACA;	
}

.coming::before {
	content: "";
	height: 17px;
	width: 20px;
	position: absolute;
	left: 15px;
	top: 15px;
	background-image: url("../img/sprite-1.png");
	background-position: -62px;
}

.coming:hover::before {	
	background-image: url("../img/sprite-1.png");
	background-position: -82px;
}

.coming:active::before {	
	background-image: url("../img/sprite-1.png");
	background-position: -62px;
}

.registration {
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 21px;
	font-weight: normal;	
	line-height: 21px;
	color: #000;
	min-height: 45px;
	width: 150px;
	background-color: #fff;
	border: none;
	outline: none;
	margin-left: 5.5px;
	cursor: pointer;
}

.registration:hover {
	color: #EE3643;
}

.registration:active {
	color: #CACACA;	
}

.main-menu {
	clear: both;	
	width: 940px;
	font-family: 'Cuprum', "Tahoma", sans-serif;	
	font-size: 0;
	font-weight: normal;	
	line-height: 17px;		
}

.main-menu li {
	display: inline-block;
	vertical-align: top;
	border-bottom: 5px solid #293449;
}

.main-menu a {
	display: block;
	color: #fff;
	padding: 20px 33.5px;
	padding-bottom: 15px;
	font-size: 17px;
	background-color: #32425C;
}

.main-menu a:hover {	
	background-color: #293449;
}

.main-menu a:active {	
	color: #9B9DA2;
}


.info-block-1 {
	min-height: 520px;
	background-color: #fff;
	color: #fff;
	box-sizing: border-box;
	padding-top: 60px;
}

.items {
	height: 410px;	
}

.item {
	height: 125px;
	width: 300px;
	margin-bottom: 17.5px;
	position: relative;	
}

.item-1::after {
	content: "";
	position: absolute;
	height: 65px;
	width: 44px;
	top: 30px;
	right: 45px;
	background-image: url("../img/sprite-2.png");
	background-position: -137px 0px;
}

.item-2::after {
	content: "";
	position: absolute;
	height: 61px;
	width: 75px;
	top: 30px;
	right: 35px;
	background-image: url("../img/sprite-2.png");
	background-position: 75px 5px;
}

.item-4::after {
	content: "";
	position: absolute;
	height: 62px;
	width: 78px;
	top: 30px;
	right: 35px;
	background-image: url("../img/sprite-2.png");
	background-position: 153px;
}

.item-5::after {
	content: "";
	position: absolute;
	height: 72px;
	width: 59px;
	top: 30px;
	right: 45px;
	background-image: url("../img/sprite-2.png");
	background-position: 0px;
}

.item-6::after {
	content: "";
	position: absolute;
	height: 63px;
	width: 78px;
	top: 30px;
	right: 35px;
	background-image: url("../img/sprite-2.png");
	background-position: -59px;
}

.item-3-slider,
.item-6 {
	margin-bottom: 0;
}

.items-1 {
	height: 410px;
	width: 620px;
	float: left;
	box-sizing: border-box;	
}


.item-1 {
	float: left;
	background-color: #F6B22D;
}

.item-2 {
	float: right;
	background-color: #4AAFDE;
}

.item-3-slider {
	height: 266px;
	width: 620px;
	clear: both;
	position: relative;   
	
}

.slider input[type=radio] {
    position: absolute;   
    opacity: 0;   
}

.slider-controls{
    position:absolute;
    bottom: 30px;
    left: 290px;
    width:50px;
    height:15px;  
    text-align:center;
    z-index:1000;   
}

.slider-controls label{
    display:inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    background:white;
    font-size: 0;
    border:2px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] { 
    background: #EE3643;
}

.slide {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow: hidden;
}

.slide-block {
    height: 105px;
    width: 250px;
    margin-top: 25px;
    margin-left: 25px;
}

.slide-title {
    height: 36px;
    width: 220px;   
    font-family: 'Cuprum';	
	font-size: 36px;
	font-weight: bold;	
	line-height: 36px;    
    text-transform: uppercase;
    color: #fff;    
}

.slide-text {
    height: 36px;
    width: 250px;   
    font-family: 'PT Sans';	
	font-size: 18px;
	font-weight: normal;	
	line-height: 24px;    
    color: #fff;
    margin-top: 5px;
}

.slide .btn{
    display:block;
    width:195px;
   	height: 40px;    
    font-family: 'Cuprum';	
	font-size: 14px;
	font-weight: normal;	
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;	
    text-align: center;
    text-decoration: none;    
    background-color: #EE3643;
    border-radius:3px;
    box-sizing: border-box;
    padding-top: 12px;
    margin-top: 75px;
    margin-left: 25px;
}

.slide .btn:hover {    
    background-color: #CA2C37;   
}

.slide .btn:active {    
    background-color: #BA2732;   
}

.left {
    position:absolute;
    top: 115px;
    left: 25px;
    width: 22px;
    height: 40px;
    cursor: pointer;       
}

.left::before {
	content: "";
    position:absolute;    
    width: 22px;
    height: 40px;
    background-image: url("../img/sprite-6.png");            
}

.right {
    position:absolute;
    top: 115px;
    right: 25px;
    width: 22px;
    height: 40px;
    cursor: pointer;       
}

.right::after {
	content: "";
    position:absolute;    
    width: 22px;
    height: 40px;
    background-image: url("../img/sprite-6.png");
    background-position: 22px;            
}

.slide:nth-child(1){
    background-image:url("../img/slider-1.jpg");
    background-repeat:no-repeat;
    background-position:100%;
}

.slide:nth-child(2){
    background-image:url("../img/slider-2.jpg");
    background-repeat:no-repeat;
    background-position:100%;
}

.slide{
    display:none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}

.items-2 {
	height: 410px;
	width: 300px;
	float: right;
	box-sizing: border-box;
}

.item-4 {	
	background-color: #CC79D1;
	box-sizing: border-box;
	float: left;

}

.item-5 {	
	background-color: #85D179;
	box-sizing: border-box;
	float: left;
}

.item-6 {	
	background-color: #F6B22D;
	box-sizing: border-box;
	float: left;
}

.text-1 {
	font-family: 'Cuprum';	
	font-size: 24px;
	font-weight: bold;	
	line-height: 30px;	
	height: 30px;
	width: 135px;
	text-align: left;
	box-sizing: border-box;
	margin-left: 22px;
	margin-top: 22px;	
}

.text-2 {
	display: block;
	font-family: 'Cuprum';	
	font-size: 14px;
	font-weight: normal;	
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;	
	height: 40px;
	width: 135px;
	text-align: center;
	box-sizing: border-box;
	margin-left: 22px;
	margin-top: 10px;
	padding-top: 12px;	
	border-radius: 3px;
}

.item-1 .text-2 {
	background-color: #DDA028;
}

.item-1 .text-2:hover {
	background-color: #CD9525;
}

.item-1 .text-2:active {
	background-color: #BE8A22;
}

.item-2 .text-2 {
	background-color: #429DC7;
}

.item-2 .text-2:hover {
	background-color: #3D91B8;
}
.item-2 .text-2:active {
	background-color: #3783A6;
}

.item-4 .text-2 {
	background-color: #B76DBC;
}

.item-4 .text-2:hover {
	background-color: #A462A9;
}

.item-4 .text-2:active {
	background-color: #96599A;
}

.item-5 .text-2 {
	background-color: #77BC6D;
}

.item-5 .text-2:hover {
	background-color: #6CA962;
}
.item-5 .text-2:active {
	background-color: #649D5B;
}

.item-6 .text-2 {
	background-color: #DDA028;
}

.item-6 .text-2:hover {
	background-color: #CD9525;
}

.item-6 .text-2:active {
	background-color: #BE8A22;
}


.popular-products,
.popular-manufacturers {
	min-height: 90px;
	font-family: 'Cuprum';	
	font-size: 30px;
	font-weight: normal;	
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	background-color: #F7F3EC;
	box-sizing: border-box;
	padding-top: 30px;
	
}

.popular-products-text,
.popular-manufacturers-text {
	display: block;
	width: 270px;
	margin-bottom: -30px;
	margin-left: 30px;	
}

.popular-manufacturers-text {	
	width: 450px;	
}

.all-popular-products,
.all-manufacturers {
	display: block;
	min-height: 38px;
	width: 255px;
	font-family: 'Cuprum';	
	font-size: 14px;
	font-weight: normal;	
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
	background-color: #EE3643;
	box-sizing: border-box;
	margin-left: 660px;
	padding-top: 11px;
	text-align: center;
	border-radius: 3px;
}

.all-popular-products:hover {	
	color: #fff;
	background-color: #CA2C37;	
}

.all-popular-products:active {	
	color: #fff;
	background-color: #BA2732;	
}

.all-manufacturers:hover {	
	color: #fff;
	background-color: #CA2C37;	
}

.all-manufacturers:active {	
	color: #fff;
	background-color: #BA2732;	
}

.catalog-items{
    width:940px;
    margin:20px auto;
    background-color red;
}
.catalog-items .row{
    margin-left:-20px;
}
.catalog-item{
    position:relative;
    display:inline-block;
    width:218px;
    margin-left:20px;   
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}
.catalog-items{
    font-size:0;
}
.catalog-item{
    font-size:16px;
}

.catalog-item:hover{
    box-shadow: 0px 7px 30px 0px #707377; 
}

.catalog-item-2 img,
.catalog-item-4 img {
	margin-top: 30px;
}
.catalog-item-3 img {
	margin-top: 20px;
}

.catalog-item .flag-new{
	position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
    background: url("../img/new-flag.png") no-repeat 0 0;
}
.catalog-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index:10;
}
.catalog-item .actions .buy,
.catalog-item .actions .bookmark{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
   	border: 3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;
    outline: none;
}


.catalog-item .actions .buy {	
	 border-bottom-color: #377416;
	 position: relative;
}

.catalog-item .actions .buy:hover {     
    background-color: #5FBB2D;
    border-color: #5FBB2D; 
     border-bottom-color:  #377416;   
}

.catalog-item .actions .buy:active {     
    background-color: #518534;
    border-color: #518534;    
}

.catalog-item .actions .buy::before {	
	 content: "";
	 position: absolute;
	 width: 17px;
	 height: 16px;
	 left: 10px;	 
	 background-image: url("../img/sprite-1.png");
	 background-position: 0px 0.5px;
}

.catalog-item .actions .buy:hover::before {	 
	 background-image: url("../img/sprite-1.png");
	 background-position: -17px 0.5px;
}

.catalog-item .actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.catalog-item .actions .bookmark:hover {    
    border-color: #32425C;
}

.catalog-item .actions .bookmark:active {    
    border-color: #C1C6CE;
    color: #C1C6CE;
}

.catalog-item .actions{
    display:none;
}
.catalog-item:hover .actions{
    display:block;
}
.catalog-item .image{
    width:218px;
    height:168px;
}
.catalog-item .image img{
    max-width:100%;
}
.catalog-item .title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;    
}
.catalog-item .discount{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}
.catalog-item .price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}
.catalog-item .price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}


.info-block-3 {
	min-height: 510px;	
}

.manufacturers {
	min-height: 310px;
	margin-top: 20px;
	margin-bottom: 70px;
	font-size: 0;		
}

.manufacturers .manufacturer{
	min-height: 145px;
	width: 220px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
	margin-right: 20px;	
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #E4E4E4;	
}

.manufacturers .manufacturer:hover {	
	box-shadow: 0px 7px 25px 0px #707377; 
}

.manufacturers .manufacturer:active {	
	box-shadow: 0px 5px 8px 0px #707377; 
}

.manufacturers .manufacturer:nth-child(4n){	
	margin-right: 0;		
}

.manufacturers .manufacturer:first-child,
.manufacturers .manufacturer:nth-child(2),
.manufacturers .manufacturer:nth-child(3),
.manufacturers .manufacturer:nth-child(5) {	
	padding-top: 55px;		
}

.manufacturers .manufacturer:nth-child(4),
.manufacturers .manufacturer:nth-child(6) {	
	padding-top: 30px;		
}

.manufacturers .manufacturer:nth-child(8) {	
	padding-top: 35px;		
}

.manufacturers .manufacturer:nth-child(7) {	
	padding-top: 25px;		
}

.info-block-4 {
	height: 525px;
	background-color: #F2F6F8;
}

.info-block-4 .central-block {	
	background: url("../img/car.png") no-repeat 473px 273px;
}

.services {
	min-height: 110px;
	width: 450px;
	box-sizing: border-box;
	padding-top: 70px;	
}

.services-title {
	min-height: 30px;
	width: 140px;
	font-family: 'Cuprum';	
	font-size: 30px;
	font-weight: normal;	
	line-height: 30px;
	text-transform: uppercase;
	color: #000;	
}

.services-text {
	min-height: 50px;
	width: 415px;
	font-family: 'PT Sans';	
	font-size: 13px;
	font-weight: normal;	
	line-height: 24px;	
	color: #000;
	margin-top: 30px;	
}

.block-shipping {
	min-height: 270px;
	width: 610px;
	position: relative;		
}

.block-shipping-menu {
	float: left;
	margin-top: 55px;
}

.block-shipping-menu a, 
.block-shipping-menu span {
	display: block;
	height: 65px;
	width: 240px;
	font-family: 'Cuprum';	
	font-size: 21px;
	font-weight: bold;	
	line-height: 30px;	
	background-color: #32425C;
	color: #fff;
	box-sizing: border-box;
	border-bottom: 1px solid #293449;
	padding-top: 15px;
	padding-left: 25px;
}

.block-shipping-menu a:hover{	
	background-color: #293449;
	color: #fff;
}

.block-shipping-menu a:active{	
	background-color: #1F2838;
	color: #779EDB;
	border-color: #1F2838;	
}

.block-shipping-menu .active {	
	background-color: #fff;
	color: #32425C;
}

.border {
	display: block;
	position: absolute;
	left: 230px;
	top: 20px;
	z-index: 2px;
}

.shipping {
	min-height: 170px;
	width: 290px;
	float: left;
	margin-left: 80px;
	margin-top: 50px;
}

.shipping-title {
	min-height: 36px;
	width: 190px;
	font-family: 'Cuprum';	
	font-size: 36px;
	font-weight: normal;	
	line-height: 36px;
	text-transform: uppercase;
	color: #32425c;		
}

.shipping-text {
	min-height: 100px;
	width: 280px;
	font-family: 'PT Sans';	
	font-size: 13px;
	font-weight: normal;	
	line-height: 24px;	
	color: #000;
	margin-top: 35px;		
}

.info-block-5 {
	min-height: 535px;
	background-color: #fff;	
}

.company {
	min-height: 370px;
	width: 550px;
	float: left;
	margin-top: 83px;	
}

.company-title,
.contacts-title {
	min-height: 30px;
	width: 350px;
	font-family: 'Cuprum';	
	font-size: 30px;
	font-weight: normal;	
	line-height: 30px;
	text-transform: uppercase;
	color: #000;	
}

.company-text-1 {
	min-height: 45px;
	width: 540px;
	margin-top: 20px;
}

.company-text-2 {
	min-height: 45px;
	width: 400px;
	margin-top: 20px;
}

.company-list {
	font-family: 'Cuprum';	
	font-size: 18px;
	font-weight: normal;	
	line-height: 20px;	
	color: #000;
	margin-top: 25px;	
}

.company-list li {	
	margin-bottom: 20px;
	padding-left: 35px;
	position: relative;	
}

.company-list li::before {	
	content: "";
	position: absolute;
	height: 5px;
	width: 25px;
	left: 0;
	top: 5px;
	background-image: url("../img/sprite-3.png"); 
	background-position: 25px 2px;
}

.company-list li:last-child {	
	margin-bottom: 0;	
}

.read-more {
	display: block;
	min-height: 40px;
	width: 220px;
	font-family: 'Cuprum';	
	font-size: 14px;
	font-weight: normal;	
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
	background-color: #EE3643;
	box-sizing: border-box;	
	padding-top: 12px;
	text-align: center;
	border-radius: 3px;
	margin-top: 37px;
}

.read-more:hover {	
	color: #fff;
	background-color: #CA2C37;	
}

.read-more:active {	
	color: #fff;
	background-color: #BA2732;	
}

.info-block-5-contacts{
	min-height: 370px;
	width: 300px;
	float: right;
	margin-top: 83px;	
}

.contacts-text {
	min-height: 40px;
	width: 190px;
	margin-top: 20px;
}

.map-img {
	display: block;	
	margin-top: 30px;
	cursor: pointer;
}

.write-to-us {	
	min-height: 40px;
	width: 300px;
	font-family: 'Cuprum';	
	font-size: 14px;
	font-weight: normal;	
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
	background-color: #EE3643;
	border: none;	
	outline: none;
	text-align: center;
	border-radius: 3px;
	margin-top: 42px;
	cursor: pointer;
}

.write-to-us:hover {	
	color: #fff;
	background-color: #CA2C37;	
}

.write-to-us:active {	
	color: #fff;
	background-color: #BA2732;		
}


.map {
	width: 940px;
	height: 433px;
	position: absolute;
	top: 45px;
	box-shadow: 0px 5px 30px 0px #707377;			 
}

.close {
	display: none;
}

.show {
	display: block;
}

.map-close,
.form-close {	
	position: absolute;
	height: 21px;
	width: 21px; 
	top: 20px;
	right: 20px;	
	cursor: pointer;		 
}

 .map-close::after,
 .form-close::after {
	content: "";
	position: absolute;
	height: 21px;
	width: 21px; 
	top: 0px;
	right: 0px;	
	background-image: url("../img/sprite-3.png");
	background-position: 46px;
	cursor: pointer;	 
}

.form {
	height: 425px;
	width: 620px;
	position: absolute;
	top: 200px;
	left: 161.5px;
	right: 161.5px;
	background-color: #fff;
	border-top: 5px solid #EE3643;
	box-sizing: border-box;
	box-shadow: 0px 20px 50px 0px #171F2B;
	z-index: 3;	
} 

.forms-central-block {
	height: 230px;
	width: 463px;
	margin-left: 80px;
	margin-top: 40px;
	background-color yellow;

}

.forms-central-block label {
	font-family: 'Cuprum';	
	font-size: 18px;
	font-weight: normal;	
	line-height: 18px;	
	color: #000;
}

.forms-central-block input,
.forms-central-block textarea {
	font-family: 'PT Sans';	
	font-size: 13px;
	font-weight: normal;	
	line-height: 18px;		
	padding-left: 15px;
	outline: none;
	border: 2px solid #D7DCDE;	
	border-radius: 3px;
}

.forms-central-block textarea {
	padding-top: 10px;
}

.forms-central-block input,
.forms-central-block .text1,
.forms-central-block .text2 {
	height: 35px;
	width: 205px;
}

.forms-central-block .text1 {
	float: left;
	margin-bottom: 47px;
}

.forms-central-block .text2 {
	float: left;
	margin-left: 35px;
}

.forms-central-block .text3 {
	clear: both;
}

.buttons-block {
	height: 115px;
	width: 620px;
	background-color: #F1F1F1;
	margin-top: 35px;
}

.send {
	font-family: 'Cuprum';	
	font-size: 14px;
	font-weight: normal;	
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
	height: 40px;
	width: 460px;
	background-color: #EE3643;
	margin-top: 40px;
	margin-left: 80px;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 3px;	
}

.send:hover {	
	background-color: #CA2C37;		
}

.send:active {	
	background-color: #BA2732;		
}

.main-footer {
	min-height: 300px;	
}

.footer-top {
	min-height: 200px;
	background-color: #32425C;
}

.block-footer-contacts {
	min-height: 160px;
	width: 340px;
	float: left;	
}

.logo-footer {
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	box-sizing: border-box;
	padding-top: 18px;
	min-height: 62px;
	width: 222px;
	background-color: #EE3643;
	color: #fff;
	border-bottom: 5px solid #B72F38;	
}

.footer-contacts {
	min-height: 50px;
	width: 330px;
	font-family: 'Cuprum';	
	font-size: 18px;
	font-weight: normal;	
	line-height: 24px;	
	color: #fff;
	margin-top: 38px;	
}

.footer-links {
	min-height: 100px;
	width: 550px;
	float: right;
	margin-top: 40px;	
}

.footer-top-links {
	min-height: 24px;
	width: 550px;	
}

.footer-bottom-links {
	min-height: 24px;
	width: 550px;
	margin-top: 35px;	
}

.footer-top-links a {
	font-family: 'Cuprum';	
	font-size: 18px;
	font-weight: normal;	
	line-height: 24px;	
	color: #fff;
	margin-right: 56px;
}

.footer-top-links a:hover,
.footer-bottom-links a:hover {
	text-decoration: underline;
}

.footer-top-links a:active {
	color: #A4ABB4;
	text-decoration: none;
}

.footer-top-links a:last-child {	
	margin-right: 0;
}

.footer-bottom-links a {
	font-family: 'Cuprum';	
	font-size: 18px;
	font-weight: normal;	
	line-height: 24px;	
	color: #EBC27C;
	margin-right: 55px;
}

.footer-bottom-links a:active {
	color: #A08B6D;
	text-decoration: none;
}

.footer-bottom-links a:first-child {	
	margin-left: 25px;
}

.footer-bottom-links a:last-child {	
	margin-right: 0;
}

.footer-bottom {
	font-family: 'Cuprum';	
	font-size: 16px;
	font-weight: normal;	
	line-height: 18px;	
	color: #fff;
	min-height: 100px;
	background-color: #293449;
}

.footer-copyright {	
	min-height: 40px;
	width: 235px;
	float: left;
	margin-top: 35px;
}

.social-btn {
	min-height: 40px;
	width: 150px;
	float: left;
	margin-left: 150px;
	margin-top: 35px;	
}

.social-btn a {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	height: 40px;
	width: 40px;	
	margin-right: 5px;
	border-radius: 50%;
	background-color: #212A3A;
	position: relative;	
}

.social-btn a:hover {	
	background-color: #EE3643;
	transition-duration: 0.3s;	
}

.social-btn a:active {	
	background-color: #BB2B34;	
}

.social-btn-vk::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 12px;
	top: 13px;
	left: 8px;
	background-image: url("../img/sprite-4.png");
	background-position: -27px 1px;	
}
	
.social-btn-fb::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 18px;
	top: 10px;
	left: 14px;
	background-image: url("../img/sprite-4.png");		
}

.social-btn-inst::before {
	content: "";
	position: absolute;
	width: 17px;
	height: 17px;
	top: 12px;
	left: 12px;
	background-image: url("../img/sprite-4.png");
	background-position: -10px;	
}

.feedback {
	min-height: 40px;
	width: 140px;
	float: left;
	margin-top: 35px;
	margin-left: 110px;		
}

.html-academy {
	min-height: 40px;
	width: 100px;
	float: right;
	margin-top: 35px;
	margin-right: 10px;	
}

.feedback-text-2,
.html-academy-text-2 {
	color: #FFD180;		
}

.feedback-text-2:hover,
.html-academy-text-2:hover {
	text-decoration: underline;
}

.feedback-text-2:active,
.html-academy-text-2:active {
	color: #D13644;
	text-decoration: none;
}



/* Каталог */

.basket-red {
	background-color: #EE3643;
}

.basket-red:hover {
	background-color: #EE3643;
}

.basket-red:active {
	background-color: #EE3643;
	color: #F3727B;
}

.info-block-10 {
	height: 262px;
	background-color: #F2F6F8;
	box-sizing: border-box;
	padding-top: 45px;	
}

.coming-user {
	width: 295px;
	padding-right: 50px;
	margin-left: 5px;	
}

.coming-user:hover {
	color: #000;
}

.coming-user:active {
	color: #CACACA;
}

.coming-user::before {
	background-position: 40px 0.5px;		
}

.coming-user:hover::before {
	background-position: 20px 0.5px;		
}

.coming-user:active::before {
	background-position: 40px 0.5px;		
}


.coming-user::after {
	content: "";
	position: absolute;
	height: 19px;
	width: 19px;
	top: 15px;
	right: 15px;
	background-image: url("../img/sprite-1.png");
	background-position: -103px;	
}

.coming-user:hover::after {	
	background-image: url("../img/sprite-1.png");
	background-position: -124px;	
}

.coming-user:active::after {	
	background-image: url("../img/sprite-1.png");
	background-position: -103px;	
}

.form-in a {
	font-family: 'Cuprum';	
	font-size: 16px;
	font-weight: normal;	
	line-height: 18px;	
	color: #32425c;
	text-decoration: underline;
	position: relative;	
	top: 3px;
}

.form-in a:hover {		
	color: #EE3643;
}

.form-in a:active {		
	color: #C8CDD3;
}

.form-in .orders {	
	margin-left: 35px;
	margin-right: 30px;
}

.form-in .orders::after {
	content: "";		
	position: absolute;
	width: 4px;
	height: 4px;
	background-color: #32425C;
	border-radius: 50%;
	top: 8px;
	left: 90px;
}

.main-content {
	height: 1375px;
}

.position {
	min-height: 60px;
	background-color: #fff;
	color: #000;	
}

.central-block-position {
	width: 940px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 20px;
	position: relative;
}

.central-block-position:before {
	content: "";
	position: absolute;
	width: 15px;
	height: 12px;
	left: 0;
	top: 25px;	
	background-image: url("../img/sprite-7.png");
}

.position-text {
	font-family: 'PT Sans';	
	font-size: 13px;
	font-weight: normal;	
	line-height: 18px;
	text-transform: uppercase;	
	padding-left: 55px;
	position: relative;	
} 


.position-text:before {
	content: "";
	position: absolute;
	width: 8px;
	height: 12px;
	left: 25px;
	top: 3px;
	background-image: url("../img/sprite-7.png");
	background-position: -15px;
}

.hammers {
	height: 90px;
	background-color: #F2F6F8;
	box-sizing: border-box;
	padding-top: 10px;	
}

.hammers-title {
	font-family: 'Cuprum';	
	font-size: 30px;
	font-weight: normal;	
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	margin-left: 30px;	
}

.left-side-bar {
	width: 220px;
	height: 750px;
	float: left;
	margin-top: 20px;
	background-color: red;

}

.main-container {
	width: 700px;
	height: 1145px;
	float: right;
	margin-top: 20px;
	background-color red;
}

.sorting {
	width: 700px;
	height: 40px;	
	background-color: #F7F3EC;
	border-radius: 3px;
	font-family: 'PT Sans';	
	font-size: 13px;
	font-weight: normal;	
	line-height: 18px;	
	color: #000;
	box-sizing: border-box;
	padding-top: 10px;
}

.sorting-text {
	margin-left: 20px;
}

.active-2 {
	color: #EE3643;	
	margin-left: 140px;
}

.type,
.functionality {
	color: #D3CFC9;
	border-bottom: 1px dotted #EE3643;
	margin-left: 70px;
}

.type:hover,
.functionality:hover {
	color: #000;
	border-bottom: 1px solid #EE3643;
}

.type:active,
.functionality:active {
	color: #EE3643;
	border: none;	
}

.filter-up,
.filter-down {
	height: 10px;
	width: 10px;
	margin-top: 3px;
	position: relative;
	cursor: pointer;	
}

.filter-down {
	float: right;
	margin-right: 20px;
}

.filter-down::before {
	content: "";
	position: absolute;
	height: 10px;
	width: 10px;
	background-image: url("../img/sprite-3.png");
	background-position: -32px 0px;
}

.filter-up {
	float: right;
	margin-right: 20px;	
}

.filter-up::before {
	content: "";
	position: absolute;
	height: 10px;
	width: 10px;
	background-image: url("../img/sprite-3.png");
	background-position: -12px 0px;
}

.filter-up:hover::before {	
	background-image: url("../img/sprite-3.png");
	background-position: -1px 0px;
}

.filter-up:active::before {	
	background-image: url("../img/sprite-3.png");
	background-position: -22px 0px;
}

.catalog-2-items {
	width: 700px;
	font-size: 0;
}

.catalog-2-item {
	margin-left: 0;
	margin-right: 20px;
	margin-top: 20px;
}

.catalog-2-item:nth-child(3n) {	
	margin-right: 0;
}

.catalog-2-item img:first-child,
.catalog-2-item img:nth-child(2),
.catalog-2-item img:nth-child(9) {	
	margin-top: 20px;
}




.info-block-10-title {	
	font-family: 'Cuprum';	
	font-size: 30px;
	font-weight: normal;	
	line-height: 30px;	
	height: 30px;
	color: #000;	
}

.info-block-10-text {
	font-family: 'PT Sans';	
	font-size: 13px;
	font-weight: normal;	
	line-height: 24px;	
	height: 80px;
	width: 940px;
	color: #000;	
}

